<style>
  @import url("index.css");

  .card {
    background: color-mix(in srgb, var(--color-base), transparent 33.7%);
    color: var(--color-text);
    border-radius: 12px;
    padding: 15px 0;
    box-shadow: 0 0 8px black;
    width: auto;
    height: 80vh;
    overflow: auto;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  .card:before {
    content: "";
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 20pt;
    line-height: 28pt;
    margin-bottom: 24px;
  }

  .head {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    /*box-shadow: 0 0 0 1px #f3f3f5;*/
  }

  th,
  td {
    padding: 12px 15px;
    border-bottom: solid 2px #f3f3f5;
  }

  th {
    text-align: start;
    height: 25px;
  }

  td {
    height: 35px;
    border-bottom: #fff8 1px solid;
  }
</style>
<div class="card">
  <div class="head">
    <h1 id="title">Utilisateur</h1>
    <div id="input" style="width: 40%"></div>
  </div>

  <table>
    <tr id="headers"></tr>
    <tbody id="data"></tbody>
  </table>
</div>
